h3 {
  text-decoration: underline
}

body{
  background-color: #ccffcc;
}

tbody td {
  font-style: italic;
}


#albumcover{
  width:400px;
  height:400px;
}

.hostedfont{
  font-family: 'Oswald', sans-serif;
}

a{
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
  background-color: green;
}
